*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #000;
  color: #fff;
}

html{
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
  
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
h3{
  margin: 10px 0px;
}

ol ,ul{
  list-style: decimal;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
li{
  list-style: disc;
}

pre{
  background-color: #555;
  padding: 15px;
  margin: 10px 0px;
  overflow: auto;
}